<a href="https://colab.research.google.com/github/Elsiekiprop/Catch-up/blob/main/DSE_MeetUp_Tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importing necessary packages
import pandas as pd
import numpy as np

In [1]:
#TASK 1- API
import requests

url = 'https://randomuser.me/api/'
params = {
    'results': 100,
    'gender': 'male',
}

response = requests.get(url, params=params)
data = response.json()['results']

for i, user in enumerate(data):
    print(f'{i+1}. {user["name"]["first"]} {user["name"]["last"]}')

1. Franjo Bell
2. Jordi Moya
3. Jeff Fletcher
4. Jaime Medina
5. Lorenzo Santiago
6. Antonio Stevens
7. Edward Thomas
8. Eloy Murillo
9. Macit Sarıoğlu
10. Sasa Vidal
11. Oliver Pulkkinen
12. Eeli Karjala
13. Girish Saniel
14. Jimi Manner
15. Svirid Pelenskiy
16. Jayanth Saldanha
17. Leonard Fournier
18. Azuma Pizarro
19. Evert-Jan Van Zwam
20. Iker Lorenzo
21. David Turner
22. Shaun Thompson
23. Rivelino Rocha
24. Fjodor Doornebosch
25. Eduardo Delgado
26. Eren Storsveen
27. Alexander Kristensen
28. Upkaar Sullad
29. Alberto Torres
30. Alvaro Corrales
31. Alfonso Monroy
32. Harold Curtis
33. Ryan Caldwell
34. Erik Simmmons
35. August Christensen
36. André Ruge
37. Gregorio Gil
38. Xavier Walker
39. Nikolaj Johansen
40. Gianluca Rey
41. Vilho Jokela
42. Tyler Walker
43. Pratyush Bangera
44. Andrés Menéndez
45. Sølve Stigen
46. Nathaniel Bennett
47. Adem Biçer
48. Remo Nielsen
49. Julian Robertson
50. Derek Carter
51. Juliën Flikweert
52. حسین کریمی
53. Alfredo Cano
54. Freddie Moore
55. Aurélien Bertrand
56. آدرین کریمی
57. Victor Lévesque
58. Sepp Gröger
59. پوریا کریمی
60. Leo Saarinen
61. Heinrich David
62. Emil Olsen
63. Fred Moreno
64. Pieter-Bas Boshuizen
65. Clemente Mireles
66. Aaron Lucero
67. Jovica Karadžić
68. Jacob Mendoza
69. Aloís Martins
70. Claude Pierce
71. Harrison Martin
72. Warinder Dsouza
73. Noah Ramos
74. محمد نجاتی
75. Edward Walker
76. Hamza Stranden
77. Oleg Balickiy
78. Akhil Kulkarni
79. Florian Schuster
80. Haakon Tharaldsen
81. Liberto Jesus
82. Amandus Strømstad
83. Timoteo Vela
84. Avram Kalinić
85. Liam Bonnet
86. Toni Olivier
87. Theodoros Sommerfeld
88. Gabriël Van Kilsdonk
89. Siniša Maksimović
90. Valtteri Palo
91. Gerold Nitz
92. Macit Kasapoğlu
93. Matthew Daniels
94. Willard Wallace
95. رادین صدر
96. Matthew Bergeron
97. Emre Kavaklıoğlu
98. Quiliano Rocha
99. Lucas Larsen
100. Luis Manuel Nazario

In [2]:
import requests
url = 'https://randomuser.me/api/'
#Specify the parameters
params = {
    'results': 100,
    'gender': 'male',
}
response = requests.get(url, params=params)
data = response.json()['results']
for i, user in enumerate(data):
    print(f'{i+1}. {user["name"]["title"]} {user["name"]["first"]} {user["name"]["last"]} {user["email"]} {user["gender"]}')

1. Mr Milton Hunter milton.hunter@example.com male
2. Mr Matias Koskela matias.koskela@example.com male
3. Mr Grgur Vilotić grgur.vilotic@example.com male
4. Mr Ethan Andersen ethan.andersen@example.com male
5. Mr Axel Michel axel.michel@example.com male
6. Mr Lenny Morin lenny.morin@example.com male
7. Mr Fidel Bustos fidel.bustos@example.com male
8. Mr Aapo Kallio aapo.kallio@example.com male
9. Monsieur Simon Perrin simon.perrin@example.com male
10. Mr Olivier Wong olivier.wong@example.com male
11. Mr محمد علیزاده mhmd.aalyzdh@example.com male
12. Mr محمدمهدی کریمی mhmdmhdy.khrymy@example.com male
13. Mr Miro Niskanen miro.niskanen@example.com male
14. Mr Eurico da Cunha eurico.dacunha@example.com male
15. Mr Floyd Henry floyd.henry@example.com male
16. Monsieur Torsten Lecomte torsten.lecomte@example.com male
17. Mr Ryan Cooper ryan.cooper@example.com male
18. Mr Heine Hessen heine.hessen@example.com male
19. Mr Muhammad Øverås muhammad.overas@example.com male
20. Mr Hector Roche hector.roche@example.com male
21. Mr Dustin Alexander dustin.alexander@example.com male
22. Monsieur Lino Mercier lino.mercier@example.com male
23. Mr Yazan Sandtorv yazan.sandtorv@example.com male
24. Mr Mehmet Aydan mehmet.aydan@example.com male
25. Mr Umut Yazıcı umut.yazici@example.com male
26. Mr Adrian Powell adrian.powell@example.com male
27. Mr Villads Nielsen villads.nielsen@example.com male
28. Mr Theo Williams theo.williams@example.com male
29. Mr Ryan Lavoie ryan.lavoie@example.com male
30. Mr Jorge Castillo jorge.castillo@example.com male
31. Mr Manfred Zeitler manfred.zeitler@example.com male
32. Mr Ege Koç ege.koc@example.com male
33. Mr Vitálio Rodrigues vitalio.rodrigues@example.com male
34. Mr Ulrik Vikane ulrik.vikane@example.com male
35. Mr Kajus Grøtan kajus.grotan@example.com male
36. Mr Albert Burns albert.burns@example.com male
37. Mr Radoje Polić radoje.polic@example.com male
38. Mr Thomas Pelletier thomas.pelletier@example.com male
39. Mr Corneel Abels corneel.abels@example.com male
40. Mr Fletcher Kumar fletcher.kumar@example.com male
41. Mr Noah Harrison noah.harrison@example.com male
42. Mr Bastien Leroy bastien.leroy@example.com male
43. Mr Onni Haataja onni.haataja@example.com male
44. Mr Magnus Johansen magnus.johansen@example.com male
45. Mr Murat Akyürek murat.akyurek@example.com male
46. Mr Adem Aşıkoğlu adem.asikoglu@example.com male
47. Mr Batur Keseroğlu batur.keseroglu@example.com male
48. Mr Ajay Holla ajay.holla@example.com male
49. Mr Petar Ranft petar.ranft@example.com male
50. Monsieur Remo Noel remo.noel@example.com male
51. Monsieur Kai Lefevre kai.lefevre@example.com male
52. Mr Guy Obrien guy.obrien@example.com male
53. Mr Rolf Berhe rolf.berhe@example.com male
54. Mr Liban Laanstra liban.laanstra@example.com male
55. Mr Ali Tekand ali.tekand@example.com male
56. Mr Jeremy Taylor jeremy.taylor@example.com male
57. Mr Tristan Mortensen tristan.mortensen@example.com male
58. Mr Nils Vidal nils.vidal@example.com male
59. Mr Fausto Duarte fausto.duarte@example.com male
60. Monsieur Janis Chevalier janis.chevalier@example.com male
61. Mr Giray Hamzaoğlu giray.hamzaoglu@example.com male
62. Mr Oğuzhan Van Roessel oguzhan.vanroessel@example.com male
63. Mr Aron Thorvaldsen aron.thorvaldsen@example.com male
64. Mr Santiago Pascual santiago.pascual@example.com male
65. Mr Gene Evans gene.evans@example.com male
66. Mr Coşkun Doğan coskun.dogan@example.com male
67. Mr Arquimino Costa arquimino.costa@example.com male
68. Mr Max Johnson max.johnson@example.com male
69. Monsieur Emil Lacroix emil.lacroix@example.com male
70. Mr Elliot Ginnish elliot.ginnish@example.com male
71. Mr Martin Larson martin.larson@example.com male
72. Mr Florian Leroy florian.leroy@example.com male
73. Mr علی رضا مرادی aalyrd.mrdy@example.com male
74. Mr Jonas Nielsen jonas.nielsen@example.com male
75. Mr Jesse Wallo jesse.wallo@example.com male
76. Mr Bogdan Tripković bogdan.tripkovic@example.com male
77. Mr Blake Hall blake.hall@example.com male
78. Mr Lucas Burton lucas.burton@example.com male
79. Mr Kuzma Lastovenko kuzma.lastovenko@example.com male
80. Mr Vitomir Kuzmenko vitomir.kuzmenko@example.com male
81. Mr Ferdinand Helgheim ferdinand.helgheim@example.com male
82. Mr Orest Slobodyan orest.slobodyan@example.com male
83. Mr Valentino Guerrero valentino.guerrero@example.com male
84. Mr Granislav Tovstolis granislav.tovstolis@example.com male
85. Mr Marcel Heien marcel.heien@example.com male
86. Mr اميرمحمد احمدی myrmhmd.hmdy@example.com male
87. Mr Craig Otoole craig.otoole@example.com male
88. Mr Ismael García ismael.garcia@example.com male
89. Monsieur Konrad Lemoine konrad.lemoine@example.com male
90. Mr Bilomir Simchich bilomir.simchich@example.com male
91. Mr Don Hart don.hart@example.com male
92. Mr Félix Santiago felix.santiago@example.com male
93. Monsieur Loïc Martin loic.martin@example.com male
94. Mr Lucas Smith lucas.smith@example.com male
95. Mr Sigve Valle sigve.valle@example.com male
96. Mr Josep Suarez josep.suarez@example.com male
97. Mr Anders Egenes anders.egenes@example.com male
98. Mr Anthony Clark anthony.clark@example.com male
99. Mr Eeli Kangas eeli.kangas@example.com male
100. Mr Jeremy Taylor jeremy.taylor@example.com male

In [3]:
#TASK 3

import pandas as pd
import numpy as np

In [4]:
#Importing the data
data=pd.read_csv("/IT Salary Survey EU  2020.csv", index_col=0)
data.head()

,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
Timestamp,,,,,,,,,,,,,,,,,,,,,
24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",80000.0,...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,80000.0,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",120000.0,...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,54000.0,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",62000.0,...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1253 entries, 24/11/2020 11:14:15 to 19/01/2021 12:01:11
Data columns (total 22 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Age                                                                                                                      1226 non-null   float64
 1   Gender                                                                                                                   1243 non-null   object
 2   City                                                                                                                     1253 non-null   object
 3   Position                                                                                                                 1247 non-null   object
 4   Total years of experience                                                                                                1237 non-null   object
 5   Years of experience in Germany                                                                                           1221 non-null   object
 6   Seniority level                                                                                                          1241 non-null   object
 7   Your main technology / programming language                                                                              1126 non-null   object
 8   Other technologies/programming languages you use often                                                                   1096 non-null   object
 9   Yearly brutto salary (without bonus and stocks) in EUR                                                                   1253 non-null   float64
 10  Yearly bonus + stocks in EUR                                                                                             829 non-null    object
 11  Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                 885 non-null    float64
 12  Annual bonus+stocks one year ago. Only answer if staying in same country                                                 614 non-null    object
 13  Number of vacation days                                                                                                  1185 non-null   object
 14  Employment status                                                                                                        1236 non-null   object
 15  Сontract duration                                                                                                        1224 non-null   object
 16  Main language at work                                                                                                    1237 non-null   object
 17  Company size                                                                                                             1235 non-null   object
 18  Company type                                                                                                             1228 non-null   object
 19  Have you lost your job due to the coronavirus outbreak?                                                                  1233 non-null   object
 20  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                        373 non-null    float64
 21  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR  462 non-null    object
dtypes: float64(4), object(18)
memory usage: 257.4+ KB

In [7]:
#DATA PREPARATION

In [8]:
#HANDLE MISSING VALUES
data.isna().sum()

Age                                                                                                                         27
Gender                                                                                                                      10
City                                                                                                                         0
Position                                                                                                                     6
Total years of experience                                                                                                   16
Years of experience in Germany                                                                                              32
Seniority level                                                                                                             12
Your main technology / programming language                                                                                127
Other technologies/programming languages you use often                                                                     157
Yearly brutto salary (without bonus and stocks) in EUR                                                                       0
Yearly bonus + stocks in EUR                                                                                               424
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                   368
Annual bonus+stocks one year ago. Only answer if staying in same country                                                   639
Number of vacation days                                                                                                     68
Employment status                                                                                                           17
Сontract duration                                                                                                           29
Main language at work                                                                                                       16
Company size                                                                                                                18
Company type                                                                                                                25
Have you lost your job due to the coronavirus outbreak?                                                                     20
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                          880
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR    791
dtype: int64

In [29]:
def drop_rows(column, df):
  return df.dropna(subset = [column], inplace=True)

In [42]:
drop_rows("Gender", data)
drop_rows("Position ", data)
drop_rows("Years of experience in Germany", data)
drop_rows("Employment status", data)
drop_rows("Company type", data)
drop_rows("Company size", data)

In [43]:
data.isna().sum()

Age                                                                                                                         15
Gender                                                                                                                       0
City                                                                                                                         0
Position                                                                                                                     0
Total years of experience                                                                                                    8
Years of experience in Germany                                                                                               0
Seniority level                                                                                                              7
Your main technology / programming language                                                                                112
Other technologies/programming languages you use often                                                                     140
Yearly brutto salary (without bonus and stocks) in EUR                                                                       0
Yearly bonus + stocks in EUR                                                                                               391
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                   331
Annual bonus+stocks one year ago. Only answer if staying in same country                                                   593
Number of vacation days                                                                                                     47
Employment status                                                                                                            0
Сontract duration                                                                                                           10
Main language at work                                                                                                        3
Company size                                                                                                                 0
Company type                                                                                                                 0
Have you lost your job due to the coronavirus outbreak?                                                                      7
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                          824
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR    743
dtype: int64

In [47]:
data["Main language at work"].value_counts()

English               982
German                177
Russian                 9
Italian                 3
Spanish                 3
English and German      2
Русский                 2
Polish                  1
50/50                   1
Czech                   1
Deuglisch               1
French                  1
both                    1
Russian, English        1
Name: Main language at work, dtype: int64

In [49]:
#Most common language is English
#Replace missing values with mode.
data["Main language at work"].fillna("English", inplace=True)

In [52]:
#Replace missing values for columns with mean
def fill_mean(column, data):
  mean = data[column].mean()
  return data[column].fillna(mean, inplace=True)

In [61]:
data["Total years of experience"].unique()

array(['5', '7', '12', '4', '17', '6', '8', '15', '2', '25', '14', '11',
       '18', '13', '30', '10', '3', '40', '26', '23', '9', '19', '20',
       '55', '22', '16', '08', '1', nan, '65', '21', '75', '28', '29',
       '1,5', '24', '0', '45', '27', '1 as QA Engineer  11 in total',
       '2,5', '15, thereof 8 as CTO', '31',
       '6 not as a data scientist, but as a lab scientist', '35',
       'less than year'], dtype=object)

In [59]:
#remove  the special characters
data['Total years of experience'] = data['Total years of experience'].str.replace(r'[^\w\s\,]+', '')

<ipython-input-59-4ea4c865ac11>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Total years of experience'] = data['Total years of experience'].str.replace(r'[^\w\s\,]+', '')

In [60]:
#data type conversion
data["Total years of experience"] = data["Total years of experience"].astype("float64")

ValueError: ignored

In [53]:
fill_mean('Age', data)
fill_mean("Total years of experience")
fill_mean("Number of vacation days")

TypeError: ignored